@import "./../Vars.scss";
@import "./../Media.scss";
.card__home {
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    width: 40vw;
    margin-right: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: translateY(0);
    transition: all .3s;
    &:hover {
        transition: all .3s;
        transform: translateY(-10px);
    }
    .card-header {
        padding-bottom: 10px;
        border-bottom: 1px solid $main-color;
    }
}

.chat__user__1 {
    float: left;
}

.chat__user__2 {
    float: right;
}

a {
    color: $main-color;
}

.card__chat {
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    width: 18vw;
    margin-right: 15px;
    margin-left: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: translateY(0);
    transition: all .3s;
    border: 1px solid $main-color;
    font-size: 15px;
    &:hover {
        transition: all .3s;
        transform: translateY(-10px);
    }
}

.card__chat__message {
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    width: 40vw;
    margin-right: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    .card-header {
        padding-bottom: 10px;
        border-bottom: 1px solid $main-color;
    }
}